###############################################################################
## "IR-FLow Service" settings
###############################################################################

[IRFlowAPI]
address: <IP or FQDN of IR-FLow Server>
api_user: some_api_user
api_key: some_key
debug=True
protocol=https
verbose=0

###############################################################################
## Settings for thread pools
###############################################################################

[MessageCallbackPool]

# The queue size for invoking DXL message callbacks
# (optional, defaults to 1000)
;queueSize=1000

# The number of threads available to invoke DXL message callbacks
# (optional, defaults to 10)
;threadCount=10

[IncomingMessagePool]

# The queue size for incoming DXL messages
# (optional, defaults to 1000)
;queueSize=1000

# The number of threads available to handle incoming DXL messages
# (optional, defaults to 10)
;threadCount=10
